html, body{
    height: 100vh;
}

body{
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #473b46;
    color: white;
}

button{
    background-color: #8A6E85;
    color: white;
    padding: 0 45px;
    border: 2px solid white;
    border-radius: 25px;
    height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    transition: .4s;
}

button:hover{
    background-color: transparent;
}